.myname{
    background-color:white;
    font-weight:bold;
    color:orange;
    padding:10px;  
    height:auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:36px;
    text-shadow: blue 0 -2px;
    text-transform:uppercase;
    border:0px;
}

.btn-info{
float:right;
margin-top : 20px;
margin-inline-start:30px;
background:plum;
}



.wholebody{
    
    background-image: url("../images/background.png");
    background-color:#ffffff;
    top: 15px;
    width: 100%; 
    overflow: auto;
    min-height:100%;
    margin-bottom:-40px;
    font-family:"Arial', 'Helvetica Neue', Helvetica, sans-serif";
     }

.maincontent{
    max-width:960px;
}

.subtitle{
    font-family: "Georgia', Times, Times New Roman, serif";
    color:#4aaaa5;
    width: 100px;
    height: 50px;
    background-color:white;
    font-weight: bold;
    position: relative;
    animation: mymove 10s infinite;
}

/*add animation*/

  /* Standard syntax */
  .subtile {animation-timing-function: linear;}
 
   
  /* Standard syntax */
  @keyframes mymove {
    from {left: 0px;}
    to {left: 80%;}
  }

.wholebody:after {
content:"";
display:block;
}

.footer, .wholebody:after{
height:40px;
}


    

.row, 
.row> .column
{
       padding:4px 8px;
}

.footer{

        clear: both;
        background:#4aaaa5;

        width: 100%;

}

.copyright{
        background:grey;
        color:white;
        height:30px;
        position:relative;
        top:10px;
        text-align:center;
        width:100%;
        margin-left:0;
        margin-right:0;
}